/* color naming with https://colornamer.robertcooper.me/*/
/* https://stackoverflow.com/questions/1179928/how-can-i-put-a-vertical-line-down-the-center-of-a-div */
:root {
    --acapulco-cliffs: #4D96A9;
    --silverpine-cyan: #8FE3F9;
    --lusty-lavender: #855FB1;
    --lavender-fragrance: #D9B8FF;
    --maritime-blue: #28283D;
    --mandrake: #87879D;
    --white: #FAFAFA;
}

body {
    position: relative;
    background: #FAFAFA;
    max-height: 195vh;
    max-width: 180vw;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}  

header {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3% ;
    /* grid-template-rows: repeat(2, 18.938rem); */
    grid-template-rows: 10rem 22.4rem;
}

.meet-logo {
    grid-column: span 3;
    justify-self: center;
    align-self: center;
}

.image-hero-right {
    justify-self: end;
    align-self: flex-end;
}

h1 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #28283D;
}

.meet-content {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
}

.header-buttons {
    display: flex;
    justify-content: center;
}

.download {
    background-color: var(--acapulco-cliffs);
    border-radius: 29px;
    border-style: none;
    padding: 16px 40px;
    margin-right: 16px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.what-is-it {
    background-color: var(--lusty-lavender);
    border-radius: 29px;
    border-style: none;
    padding: 16px 29px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

main {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3% ;
    /* grid-template-rows: repeat(2, 18.938rem); */
    grid-template-rows: 10rem 22.4rem 22.4rem;
}

.circle-line {
    grid-column-start: 1;
grid-column-end: 3;
    justify-self: center;
    align-self: center;
}

.image-container {
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
}
.box-img {
    width: 255px;
    height: 242px;
}
