/* color naming with https://colornamer.robertcooper.me/*/
:root {
    --acapulco-cliffs: #4D96A9;
    --silverpine-cyan: #8FE3F9;
    --lusty-lavender: #855FB1;
    --lavender-fragrance: #D9B8FF;
    --maritime-blue: #28283D;
    --mandrake: #87879D;
    --white: #FAFAFA;
}