/* color naming with https://colornamer.robertcooper.me/*/
/* https://stackoverflow.com/questions/1179928/how-can-i-put-a-vertical-line-down-the-center-of-a-div */
:root {
    --acapulco-cliffs: #4D96A9;
    --silverpine-cyan: #8FE3F9;
    --lusty-lavender: #855FB1;
    --lavender-fragrance: #D9B8FF;
    --maritime-blue: #28283D;
    --mandrake: #87879D;
    --white: #FAFAFA;
}

body {
    position: relative;

    background: #FAFAFA;
    max-height: 195vh;
    max-width: 75vw;
    margin: 0;
    overflow-x: hidden;
}    

header {
    position: absolute;
    top: 80px;
    margin: 0;
}

.meet-logo {
    position: absolute;
    width: 119px;
    height: 28px;
    left: 845px;
    top: 80px;
}

.group4 {
    /* Group 4 */
}

.header-content {
    position: absolute;
    width: 540px;
    height: 304px;
    left: 650px;
    top: 216px; 
}

.image-hero-left {
    position: absolute;
    top: 169px;
    left: -32px;
}

.image-hero-right {
    position:absolute;
    top: 224px;
    left: 1545px;
    
}

h1 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #28283D;
}

.meet-content {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
}

.header-buttons {
    display: flex;
    justify-content: center;
}

.download {
    background-color: var(--acapulco-cliffs);
    border-radius: 29px;
    border-style: none;
    padding: 16px 40px;
    margin-right: 16px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.what-is-it {
    background-color: var(--lusty-lavender);
    border-radius: 29px;
    border-style: none;
    padding: 16px 29px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}


.circleLine {
    position: absolute;
    margin: auto 900px;
}
.path {
    height: 100px;
    mix-blend-mode: normal;
    opacity: 0.25;
	background: linear-gradient(to right, 
	                              transparent 0%, 
	                              transparent calc(50% - 0.81px), 
	                              var(--mandrake) calc(50% - 0.8px), 
                                  var(--mandrake) calc(50% + 0.8px), 
	                              transparent calc(50% + 0.81px), 
	                              transparent 100%); 
}

.number1 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: var(--mandrake);
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 50px;
    padding: 10px 15px;
}

main {
    position: absolute;
    top: 637px;
}

footer {
    position: absolute;
    top: 1475px;
}